<%= form_for([:admin, @subcategory]) do |f| %>
  <%= form_errors @subcategory %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :uri %><br>
    <%= f.text_field :uri %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= collection_select(:subcategory, :category_id, Category.all, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
