<div class="jumbotron home-tron-search well">
  <div class="container">
    <div class="search-result">
      <div class="row">
        <div class="col-sm-12">
          <div class="home-tron-search-inner">
            <%= form_tag(controller: 'search', action: 'create', method: 'post') do %>
              <div class="row">
                <div class="col-sm-10 col-xs-10" style="text-align: center">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="input-group">
                        <%= text_field_tag("search[query]", nil,
                                           placeholder: "e.g. BMW, 2 bed flat, sofa ",
                                           class: 'form-control') %>
                        <div class=" input-group-addon hidden-xs">
                          <%= collection_select(:search, :city, City.all, :id, :name,
                                                { prompt: "Все города" },
                                                { class: "form-control search_options" }) %>
                        </div>
                        <div class=" input-group-addon hidden-xs">
                          <%= collection_select(:search, :category, Category.all, :id, :name,
                                                { prompt: "Все категории" },
                                                { class: "form-control search_options" }) %>
                        </div>
                        <div class=" input-group-addon hidden-xs">
                          <%= collection_select(:search, :subcategory, Subcategory.all, :id, :name,
                                                { prompt: "Все подкатегории" },
                                                { class: "form-control search_options" }) %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2 col-xs-2" style="text-align: center">
                  <div class="row">
                    <div class="col-sm-11 pull-right">
                      <%= submit_tag("Поиск", class: "btn btn-primary search-btn") %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>