<div class="row listing-row">
  <span style="">Sort by:&nbsp;&nbsp;&nbsp;</span>
  <a href="#"  data-toggle="tooltip" data-placement="top" title="Sort from newest to oldest"> Date <i class="fa fa-chevron-up"></i></a>
  <a href="#" data-toggle="tooltip" data-placement="top" title="Sort from lowest price to highest price"> Price <i class="fa fa-chevron-down"></i></a>
</div>
<% @items.each do |item| %>
  <div class="row listing-row">
    <div class="col-sm-2">
      <% unless item.images.first.nil? %>
        <%= link_to image_tag(item.images.first.attachment.preview.url), item_path(item), class: "thumbnail" %>
      <% end %>
    </div>
    <div class="col-sm-10">
      <h3>
        <%= link_to(item_path(item)) do %>
          <%= item.title %> - <strong><%= item.price %></strong>
        <% end %>
      </h3>
      <p class="muted">Город <strong><%= item.city.name %></strong></p>
      <p class="muted">Размещено <%= item.created_at.strftime("%d %B %Y")%>
        в разделе <%= link_to item.subcategory.name, subcategory_path(
                                                       city: item.city,
                                                       category:item.category,
                                                       subcategory: item.subcategory) %></p>
      <br/>
      <p><%= item.content %></p>
      <br/>
      <p>
                          <span class="classified_links">
                            <%= link_to "Посмотреть полностью", item_path(item), class: "link-info underline" %> |
                            <%= link_to "Добавить в избарнное", "#", class: "link-info underline" %>
                          </span>
      </p>
    </div>
  </div>
<% end %>
<%= paginate @items %>